= content_for :above do
  #scream
    = link_to 'Plan Your Escape', events_path, :id => 'escape-button'
    %h2#tagline Leave Your Room, get on The Fence
    %p
      The Fence is the event guide for 
      %a{:href=>"http://www.cmu.edu/"} Carnegie Mellon University
      in Pittsburgh, PA.

= content_for :subnav do
  %ul#quick-links
    %li.upcoming-events
      / TODO: Replace with more rails-y path soon
      = link_to "View upcoming events", "/events?sort=upcoming", :class => "quick-link"
    %li.tartan-faves
      = link_to "See Tartan picks", beta_path, :class => "quick-link"
    %li.night-out
      = link_to "Plan a night out", beta_path, :class => "quick-link"
        
  = form_tag events_path, :method => :get, :class => "mood-select" do
    %h4.section-header Find an event to suit your mood
    %dl
      %dt Nouns
      %dd
        %ul
          - Category.noun.each do |category|
            %li
              %label<
                = check_box_tag "category_ids[]", category.id, false
                = category.name
      %dt Adjectives
      %dd
        %ul
          - Category.adjective.each do |category|
            %li
              %label<
                = check_box_tag "category_ids[]", category.id, false
                = category.name
    = submit_tag "Find events", :class => "find"

- if(event = @featured.shift)
  .article.featured
    = link_to image_tag(event.image.frontpage.url), event_path(event)
    .description
      %h3= link_to event.name, event_path(event)
      %time= event.start
      = link_to event.location, "#TODO", :class=>"location"
      %details= h truncate(event.description, :length => 200)
      = link_to "Read More", event, :class=>"read-more"
      
%ul.list
  %h3 More Events
  - @featured.each do |event|
    %li
      %h4= link_to event.name, event_path(event)
      .description
        %time= event.start
        %details
          = truncate(event.description, :length => 150)
          = link_to "Read More", event
          
  