= content_for :subnav do
  %ul#quick-links
    %li.upcoming-events
      = link_to "View upcoming events", beta_path, :class => "quick-link"
    %li.tartan-faves
      = link_to "See Tartan picks", beta_path, :class => "quick-link"
    %li.night-out
      = link_to "Plan a night out", beta_path, :class => "quick-link"
        
  = form_tag events_path, :method => :get, :class => "mood-select" do
    %h4.section-header Find an event to suit your mood
    %dl
      %dt Nouns
      %dd
        %ul
          - Category.noun.each do |category|
            %li
              %label<
                = check_box_tag "category_ids[]", category.id, false
                = category.name
      %dt Adjectives
      %dd
        %ul
          - Category.adjective.each do |category|
            %li
              %label<
                = check_box_tag "category_ids[]", category.id, false
                = category.name
    = submit_tag "Find events", :class => "find"