= flash[:error]
= form_for @event, :html => { :multipart => true } do |f|
  = f.label :name
  = f.text_field :name
  = f.label :description
  = f.text_area :description
  = f.label :cost
  = f.text_field :cost
  = f.label :location, 'Where?'
  = f.text_field :location
  = f.label :start, 'From'
  = f.text_field :start
  = f.label :finish, 'To'
  = label_tag "event[til_whenever]", "'Til Whenever"
  = check_box_tag "event[til_whenever]", 1, false
  = f.text_field :finish
  = f.label :image, 'Poster'
  = f.file_field :image
  = f.submit 'Create Event'