Flash error:
= flash[:error]
= notice
= form_for @event do |f|
  = f.label :name
  = f.text_field :name
  = f.label :description
  = f.text_area :description
  = f.label :cost
  = f.text_field :cost
  = label_tag :location_name, 'Where?'
  = text_field_tag :location_name
  = f.label :start, 'From'
  = f.text_field :start
  = f.label :finish, 'To'
  = f.text_field :finish
  = f.submit 'Create Event'