= semantic_form_for @event, :html => {:multipart => true} do |f|
  = f.semantic_errors :state
  = f.inputs do
    = f.input :name
    = f.input :description, :as => :text
    = f.input :cost
    = f.input :location, :label => "Where?"
    = f.inputs :name => "Time" do
      = f.input :start, :label => "From"
      = f.input :finish, :label => "To"
      or
      = f.input :til_whenever?, :as => :boolean, :label => "'Til Whenever"
    = f.input :image, :label => "Poster"
    = f.input :categories, :as => :check_boxes, :collection => Category.all
  = f.buttons