Flash error:
= flash[:error]
= notice
= form_for @event, :html => { :multipart => true } do |f|
  = f.label :name
  = f.text_field :name
  = f.label :description
  = f.text_area :description
  = f.label :cost
  = f.text_field :cost
  = f.label :location, 'Where?'
  = f.text_field :location
  = f.label :start, 'From'
  = f.text_field :start
  = f.label :finish, 'To'
  = f.text_field :finish
  = f.label :poster
  = f.file_field :poster
  = f.submit 'Create Event'