.vevent
  %span{:class => "summary"}=  @event.name
  %span{:class => "location"}= @event.location
  %span{:class => "dtstart", :title => @event.start.to_formatted_s(:iso8601)}= @event.start
  - if @event.finish
    %span{:class => "dtend", :title => @event.finish.to_formatted_s(:iso8601)}=  @event.finish
  - else
    %span Til' Whenever
  %span{:class => "description"}
    = @event.description
    - if @event.free?
      Free
    - else
      = number_to_currency(@event.cost)
  = @event.categories.map(&:name).join(" ")
  %a{:class => "attach", :href => @event.image.url}= @event.image.url
