.vevent
  %h1.summary=  @event.name
  %aside
    %a.attach{:href => @event.image.url}= image_tag(@event.image.medium.url)
    %ul
      %li= link_to 'Edit', edit_event_path(@event) if can? :edit, @event
  .categories= short_description(@event)
  %p.description= preserve @event.description
  %dl.info
    %dt Start Time
    %dd.dtstart{:title => @event.start.to_formatted_s(:iso8601)}= @event.start
    %dt End Time
    - if @event.finish
      %dd.dtend{:title => @event.finish.to_formatted_s(:iso8601)}= @event.finish
    - else
      %dd Til' Whenever
    - unless @event.cost.blank?
      %dt Cost
      - if @event.free?
        %dd Free
      - else
        %dd= @event.cost
    %dt Location
    %dd.location
      = @event.location
      / %div= %{<iframe width="350" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=43.25835,72.509766&amp;z=4&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/?ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=43.25835,72.509766&amp;z=4&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>}.html_safe
      %div= %{<div class="mapviewer"><iframe id="map" Name="mapFrame" scrolling="no" frameborder="0" src="http://www.bing.com/maps/embed/?lvl=16&amp;cp=40.444627075866606~-79.94295779587998&amp;sty=r&amp;draggable=true&amp;v=2&amp;where1=5000+Forbes+Ave%2C+Pittsburgh%2C+PA+15213&amp;pp=40.44462707586659~-79.9429792535521&amp;emid=1616a213-1c50-6dd1-3442-f109680bd25c&amp;w=350&amp;h=280"></iframe></div>}.html_safe