.vevent
  %span.summary=  @event.name
  %span.location= @event.location
  %span.dtstart{:title => @event.start.to_formatted_s(:iso8601)}= @event.start
  - if @event.finish
    %span.dtend{:title => @event.finish.to_formatted_s(:iso8601)}= @event.finish
  - else
    %span Til' Whenever
  %span.description
    = @event.description
    - if @event.free?
      Free
    - else
      = number_to_currency(@event.cost)
  = @event.categories.map(&:name).join(" ")
  %a.attach{:href => @event.image.url}= image_tag(@event.image.medium.url)