.vevent
  %h1.summary=  @event.name
  %a.attach{:href => @event.image.url}= image_tag(@event.image.medium.url)
  .categories= short_description
  %p.description= preserve @event.description
  %dl.info
    %dt Location
    %dd.location= @event.location
    %dt Start Time
    %dd.dtstart{:title => @event.start.to_formatted_s(:iso8601)}= @event.start
    %dt End Time
    - if @event.finish
      %dd.dtend{:title => @event.finish.to_formatted_s(:iso8601)}= @event.finish
    - else
      %dd Til' Whenever
    - unless @event.cost.blank?
      %dt Cost
      - if @event.free?
        %dd Free
      - else
        %dd= @event.cost