!!!
%html
  %head
    %title Fence
    = stylesheet_link_tag "reset", "application"
    = javascript_include_tag "right", "form", "right-calendar"
    = csrf_meta_tag
  %body
    #container
    
      #login-links
        - if current_user
          Welcome, #{current_user.email} | #{link_to "Log Out", destroy_user_session_path}
        - else
          #{link_to "Log in", new_user_session_path} | #{link_to "Sign Up", new_user_registration_path}
    
      #header
        #logo
          %a{:href => root_path} The Fence
        #presented-by{:href => "http://www.thetartan.org"} By The Tartan

      #scream
        = link_to 'Plan Your Escape', events_path, :id => 'escape-button'
        %h2#tagline Leave Your Room, get on The Fence
        %p
          The Fence is the event guide for 
          %a{:href=>"http://www.cmu.edu/"} Carnegie Mellon University
          in Pittsburgh, PA.

      #content
      
        #main
        
          - if notice
            %p.notice= notice
          - if alert
            %p.alert= alert
        
          #subnav
            = yield(:subnav)
        
          = yield
        
        #aside
          %h4.section-header Search for an event
          = form_tag events_path, :method => :get, :class => "search-field" do
            = text_field_tag :q, "", {:type=>"search", :placeholder => "Search", :class => "search"}
          %h4.section-header Happening now
          .ad= image_tag("ad.gif")
      #footer &copy; 2010 The Tartan