!!!
%html
  %head
    %title Fence
    = stylesheet_link_tag "reset", "application"
    = javascript_include_tag "right", "form", "beta", "right-calendar"
    = csrf_meta_tag
  %body
    #container
    
      %span#login-links
        - if current_user
          Welcome, #{current_user.email} | #{link_to "Log Out", destroy_user_session_path}
        - else
          #{link_to "Log in", new_user_session_path} | #{link_to "Sign Up", new_user_registration_path}
    
      #header
        = link_to image_tag("logo.png", :alt => "The Fence (beta)"), root_path, :id => 'logo'
        #presented-by{:href => "http://www.thetartan.org"} By The Tartan

      = yield(:above)

      #content
      
        #main
        
          - if notice
            %p.notice= notice
          - if alert
            %p.alert= alert
        
          #subnav
            = yield(:subnav)
        
          = yield
        
        #aside
          = link_to "Add an event", new_event_path, :class => 'add-event'
          %h4.section-header Search for an event
          = form_tag events_path, :method => :get, :class => "search-field" do
            = text_field_tag :q, "", {:type=>"search", :placeholder => "Search", :class => "search"}
          .ad= image_tag("ad.gif")
      #footer &copy; 2010 The Tartan